.row.vertical-center-row
  .text-xs-center.jumbotron
    %h1
      %strong
        Debtify
    %h3 Bills management as a Service
    %p
      = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary'
      = link_to 'Login', new_user_session_path, class: 'btn btn-lg btn-primary'
