.row.vertical-center-row
  .text-xs-center.jumbotron
    %h1
      %strong
        SmartBill
    %h3 Bills management as a Service
    %p
      = link_to new_user_registration_path, class: 'btn btn-lg btn-primary' do
        = fa_icon 'user-plus', text: 'Sign up'
      = link_to new_user_session_path, class: 'btn btn-lg btn-primary' do
        = fa_icon 'sign-in', text: 'Log in'
