//urls
$url_0: image_url("bg.jpg");

body {
  padding-top: 100px;
}

.nav-item {
  padding-top: 10px;
}

// Landing styles
html#landing_html {
  height: 100%;
}

body#landing {
  height: 100%;
  padding-top: 10px;
  background: $url_0 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 10px;
  color: #0275D8;
}

#landing .container {
  height: 100%;
  display: table;

  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }

  .jumbotron {
    background: rgba(236, 238, 239, 0.8);
  }

  h1 {
    font-size: 70px;
    padding-bottom: 10px;
  }

  h3 {
    padding-bottom: 20px;
  }

  p a {
    margin-right: 20px;
  }
}

