<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggler hidden-sm-up pull-right collapsed" data-toggle="collapse" data-target="#navcollapse1">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="navcollapse1">
      <%= link_to root_path, class: 'navbar-brand hidden-sm-down' do %>
        <h1>Dont</h1>
      <% end %>
      <div id="navbar-scroll">
        <ul class="nav navbar-nav pull-xs-right">
          <%= link_to root_path, class: 'navbar-brand hidden-sm-down' do %>
            <h1>bla</h1>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
